.page-container {
    display: flex;
    flex-direction: column;
    min-height: 85vh
}

.hub-body-container {
    margin: 5% 0%;
    padding: 1%;
    border-radius: 15px;
}


.world-display-container {
  position: relative;
  width: 100%;
}

.campaign-display-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}


@media screen and (max-width: 900px) {
    .campaign-display-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    .campaign-create {
        grid-area: 1 / 1 / span 1 / span 2;
    }
}

@media screen and (max-width: 650px) {
    .page-container {
        margin: 0
    }
    .carousel-container {
        border-radius: 0;
    }
    .carousel-container img {
        border-radius: 0;
    }
    .campaign-display-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0;
    }
    .campaign-create {
        grid-area: 1 / 1;
    }
    .hub-body-container {
        padding: 0;
    }
    .campaign-card {
        border-radius: 0;
    }
    .campaign-card-title {
        border-radius: 0;
    }
    .create-new-card {
        border-radius: 0;
    }
    .hub-nav-list {
        border-radius: 0;
    }
}