.world-title-container {
    text-align: center;
}

.world-subject-container {
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
    row-gap: 2%;
    text-align: center;
    margin: 2% 5%;
}

.world-nav {
    padding-bottom: 2%;
}

.world-title p {
    font-family: 'Charm', cursive;
    margin-bottom: 0;
}

.world-title h2 {
    font-family: 'Yatra One', cursive;
    font-size: 4.5rem;
    margin: 1%;
    letter-spacing: 8px;
}

.world-title h5 {
    font-family: 'Charm', cursive;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 1%;
    letter-spacing: 1px;
}

@media screen and (max-width: 1000px) {
    .world-subject-container {
        grid-template-columns: 1fr 1fr;
        row-gap: 2%;
    }
}

@media screen and (max-width: 650px) {
    .world-subject-container {
        grid-template-columns: 1fr;
        row-gap: 2%;
    }
    .world-title h2 {
        font-size: 2.5rem;
    }
    .world-title h5 {
        font-size: 1.2rem;
    }
}