.faction-section {
    padding: 2vh 20vw;
}

.faction-h3 {
    font-size: 2.5rem;
}

.faction-p {
    font-size: 1.75rem;
    line-height: 1.5;
}

@media screen and (min-width: 2000px) {
    .faction-section {
        padding: 2vh 30vw;
    }
}

@media screen and (max-width: 1200px) {
    .faction-section {
        padding: 2vh 10vw;
    }
}

@media screen and (max-width: 800px) {
    .faction-section {
        padding: 2vh 5vw;
    }
    .faction-h3 {
        font-size: 1.75rem;
    }
    .faction-p {
        font-size: 1.25rem;
    }
}

