.features-section {
    padding: 2vh 25vw;
    background-color: #F3DEBA;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #000000;
}

.highlight-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.card-box {
    display: flex;
}

