.tool-display-section {
    background-color: #f8ecd8;
    display: flex;
    justify-content: center;
    padding: 2vh 2vw;
    column-gap: 2rem;
}

.tool-display-section a {
  text-decoration: none;
  color: #000000;
}

.tool-carsousel-container {
    width: 40vw;
}

.tool-desc-container {
    max-width: 40vw;
    padding: 2%;
}


@media screen and (max-width: 900px) {
    .tool-display-section {
        flex-wrap: wrap;
    }
    .tool-carsousel-container {
        width: 80vw;
        height: 100%;
    }
    .tool-desc-container {
        max-width: 90vw;
    }
}