.tool-display-section {
    background-color: #f8ecd8;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin-bottom: 5vh;
}

.tool-display-section a {
  text-decoration: none;
  color: #000000;
}

.tool-carsousel-container {
    width: 40vw;
}

.tool-desc-container {
    max-width: 30vw;
    padding: 0 2rem;
}
