.title-text {
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.title-section {
    color: #fff;
    padding: 2% 15%;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");}

.title-box {
    text-align: center;
}

.button-box {
    display: grid;
    column-gap: 5%;
    justify-content: center;
}

.display-img-box {
    text-align: center;
    padding: 2%;
}

.display-img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 500px) {
    .title-text {
        font-size: 1rem;
    }
}