.btn{

font-family: "Open Sans", sans-serif;
font-weight: 600;
font-size: 16px;
text-align: center;
color: #fff;
background-color: #C69749;
padding: 10px 20px;
border: solid #69512bf7 2px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 14px;
transition : 500ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
justify-content: center;
}

.btn:hover{

transition : 500ms;
padding: 10px 20px;
transform : translateY(-2px);
background-color: #c69749;
color: #ffffff;
border: solid 2px #69512bf7;
}