.legendary {
    background-color: gold;
}

.legendary:hover {
    background-color: goldenrod;
}

.item-display {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}

@media screen and (max-width: 600px) {
    .item-display {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}