.item-gen-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 1% 30%;
    align-items: center;
}

.item-gen-text {
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    .item-gen-buttons {
        margin: 0;
    }
}