.world-title-container {
    text-align: center;
    color: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 30vh;
}

.world-title-container .main-header {
    padding: 0 10vw;
}

.world-title p {
    margin-bottom: 0;
}

.world-title h2 {
    font-size: 4.5rem;
    letter-spacing: 8px;
}

.world-title h5 {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.world-title h3 {
    font-size: 3rem;
    letter-spacing: 2px;
}

@media screen and (max-width: 650px) {
    .world-title h2 {
        font-size: 2.5rem;
    }
    .world-title h5 {
        font-size: 1.2rem;
    }
}