.world-campaigns-container {
    text-align: center;
    background-color: #f8ecd8;
    padding-bottom: 2rem;
}

.campaign-carousel {
    margin: 0 10vw;
}

.campaign-carousel .side-card-container {
    border: none;
    box-shadow: none;
}

.slick-arrow {
    filter:brightness(0.4);
}

@media sceeen and (max-width: 500px) {
    .campaign-carousel {
        margin: 0 7vw;
    }
    .side-card-content {
        padding: 0;
    }
}