.create-new-card {
    border: 1px solid;
    box-shadow: 2px 2px 15px -4px;
    border-radius: 15px;
    background-color: #f8ecd8;
}

.campaign-create {
    grid-area: 1 / 3 / span 2 / span 1;
    height: fit-content;
}

.create-new-body {
    padding: 0% 0% 5% 5%;
}


.create-new-body p {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.create-new-body button {
    color: #000000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0;
    justify-self: center;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.create-new-body button:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.campaign-card-body {
    background-color: #282A3A;
    border-radius: 0 0 15px 15px;
}

.campaign-card-body button {
    color: #fff;
    border-radius: 0;
}

.is-closed {
    border-radius: 0 0 15px 15px;
}


.Collapsible__trigger {
    display: block;
    text-align: center;
    padding: 5% 0%;
    transition: 300ms;
}

.Collapsible__trigger:hover {
    background-color: #fff;
    color: #000;
    transition: 300ms;
    overflow: hidden;
}


.upcoming-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.upcoming-container li {
    padding: 0% 4%;
}

.light-bg {
    background-color: #fff;
}

.last-game-detail {
    border-radius: 0 0 15px 15px;
}