.factions-heading {
    margin: 0 5rem;
}

.faction-example-container {
    display: flex;
    column-gap: 2rem;
    margin: 1rem 5vw;
}

.faction-example-image-container {
    align-self: center;
}

.faction-example-container img {
    max-width: 20vw;
}

.faction-carousel { 
    text-align: center;
    margin: 5vh 20vw;
}

.faction-carousel-item .side-card-container {
    box-shadow: none;
}

.faction-description p {
    font-size: 1.5rem;
}

.campaign-factions-container h3 {
    font-size: 2.5rem;
    padding: 0 5vw;
}

@media screen and (min-width: 1201px) {
    .campaign-factions-container h3 {
        padding: 0 15vw;
    }
    .faction-example-container {
        margin: 1vh 15vw;
    }
}

@media screen and (max-width: 850px) {
    .faction-example-container {
        margin: 1rem 5vw;
        flex-wrap: wrap;
        justify-content: center;
    }
    .faction-example-container img {
        max-width: 30vw;
    }
    .faction-carousel {
        margin: 0;
    }
    .side-card-container {
        min-width: 60vw;
    }
    .campaign-factions-container { 
        padding-bottom: 2rem;
    }
    .slick-arrow {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .faction-description p {
    font-size: 1.2rem;
}

.campaign-factions-container h3 {
    font-size: 1.75rem;
}
}