.factions-heading {
    margin: 0 5rem;
}

.faction-example-container {
    display: flex;
    column-gap: 2rem;
    margin: 1rem 5rem;
}

.faction-example-container img {
    max-width: 20vw;
}

.faction-carousel { 
    text-align: center;
    margin: 5vh 20vw;
}

.faction-carousel-item .side-card-container {
    box-shadow: none;
}

@media screen and (max-width: 600px) {
    .faction-example-container {
        margin: 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .faction-example-container img {
        max-width: 30vw;
    }
    .faction-carousel {
        margin: 0;
        overflow-x: hidden;
    }
    .side-card-container {
        min-width: 60vw;
    }
    .campaign-factions-container { 
        padding-bottom: 2rem;
    }
    .slick-arrow {
        display: none;
    }
}
