.campaign-schedule-container {
  padding: 5vh 25vw;
}

.campaign-schedule-container h3 {
  font-size: 2.5rem;
}

.campaign-schedule-container h5 {
  font-size: 1.5rem;
}

.campaign-schedule-container p {
  font-size: 1.5rem;
}

.schedule-banner {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  border: 1px solid;
}

.schedule-token {
  padding: 1rem;
  align-self: center;
}

.schedule-token img {
  max-width: 5vw;
}

@media screen and (max-width: 2000px) {
  .campaign-schedule-container {
    padding: 5vh 15vw;
  }
}

@media screen and (max-width: 1200px) {
  .campaign-schedule-container {
    padding: 0 5vw 5vh 5vw;
  }
}

@media screen and (max-width: 800px) {
  .campaign-schedule-container h5 {
    font-size: 1.2rem;
  }
  .schedule-banner {
    grid-template-columns: 1fr 2fr 2fr;
  }

  .campaign-schedule-container p {
    font-size: 1rem;
  }
  .campaign-schedule-container h3 {
    font-size: 1.75rem;
  }

  .campaign-schedule-container p {
    font-size: 1.2rem;
  }
}
