.campaign-status-section {
  padding: 5vh 25vw;
}

.campaign-party-details-container {
  display: flex;
  row-gap: 1rem;
  column-gap: 2rem;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.party-token-container {
    display: flex;
    flex-flow: wrap;
    column-gap: 3rem;
    justify-content: center;
}

.party-token img {
    width: 100px;
    background-color: #1b1d1f;
    box-shadow: 0px 0px 15px -2px;
    border-radius: 50%;
}

.card-border {
  border: 1px solid;
}

.campaign-party-details-container h5 {
  font-size: 1.5rem;
}

.campaign-party-details-container p {
  font-size: 1.5rem;
}

.campaign-synopsis {
  width: 100%;
  padding: 1rem 3rem;
  border-radius: 18px;
  border: 1px solid;
}

@media screen and (max-width: 2000px) {
  .campaign-status-section { 
    padding: 5vh 15vw
  }
}

@media screen and (max-width: 1400px) {
  .campaign-status-section {
  padding: 5vh 5vw;
}
}

@media screen and (max-width: 800px) {
  .campaign-status-section {
    padding: 1rem;
  }
  .campaign-party-details-container h5 {
  margin: 0;
  font-size: 1.1rem;
}
.campaign-party-details-container p {
  font-size: 1.2rem;
}
.campaign-synopsis {
  padding: 1rem;
}
}