.campaign-card {
    border-radius: 15px;
    position: relative;
    height: 20vh;
    box-shadow: 2px 2px 15px -4px;
}

.campaign-card-title {
    border-radius: 15px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    background-position: center;
    justify-items: center;
    align-content: center;
    color: #FFF;
    letter-spacing: 0.5px;
    font-size: 1.25rem;
    font-size-adjust: inherit;
}

.campaign-card-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.campaign-card-button-container a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 0.7rem;
}

.campaign-card-button-container button {
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin: 0;
    justify-self: center;
    width: fit-content;
}

.campaign-card-button-container button:hover {
    border: 1px solid rgba(255, 255, 255, 0.7);
}


