.top-card-container {
    border: 1px solid #FFF;
    align-self: center;
    max-width: 70vw;
    overflow: hidden;
    box-shadow: 2px 2px 5px  #675D50;
    margin: auto;
    margin: 2% 0% 2% 0%;
    border-radius: 25px;
    background-color: #7C9070;
    color: #FFF;
}

.top-img-container img {
    overflow: hidden;
    width: 100%;
    height: 40vh;
}

.top-card-content {
    padding: 0% 5%;
}


@media screen and (max-width: 600px) {
    .top-card-container {
        max-width: 90vw;
    }
    .top-img-container {
        height: 30vh;
    }
    .top-img-container img {
        height: 100%;
    }
}


