.outer-container {
    position:relative;
}

.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 20rem;
    min-width: 100%;
    position: relative;
    box-shadow: 5px 5px 12px 1px #000000;
    border-radius: 25px;
}

.carousel-slide {
    height: 20rem;
    min-width: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    transition: 1200ms;
}

.inactive-slide {
    opacity: 0;
}

.active-slide {
    opacity: 1;
}

.carousel-slide img {
    width: 100%;
    border-radius: 25px;
}


.active-slide {
    display: flex;
    transition: 500ms;
}