.campaign-npcs-container h5 {
  font-size: 1.75rem;
}

.campaign-npcs-container p {
  font-size: 1.25rem;
}

.npc-card-container {
  width: 15vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid;
}

.npc-image-container {
  order: 2;
}

.npc-image-container img {
  height: 25vh;
  border-radius: 8px 0 8px 0;
}

.npc-details-container {
  order: 1;
  padding: 0 1rem;
}

.notes-container {
  order: 3;
  padding: 1rem 2rem;
}

.character-name h5 {
  margin: 1rem 0 0 0;
}

@media screen and (max-width: 2000px) {
  .npc-card-container {
    width: 45%;
  }
}


@media screen and (max-width: 1200px) {
  .npc-image-container img {
    border-radius: 8px;
  }
  .notes-container {
    width: 60%;
    order: 2;
  }
  .npc-card-container {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .notes-container {
    width: 100%;
    order: 3;
  }
  .campaign-npcs-container h5 {
  font-size: 1.5rem;
}

.campaign-npcs-container p {
  font-size: 1.2rem;
}

}