.main-title {
    font-size: 2rem;
    font-family: "Cinzel Decorative", cursive;
}

.main-title em {
    font-weight: 400;
}

@media screen and (max-width: 500px) {
    .main-title {
        font-size: 1rem;
    }
}