.title-banner-container {
    min-height: 20vh;
    padding: 0% 10vw 5% 10vw;
    text-align: center;
    color: #FFF;
    background-repeat: no-repeat;
    background-size: cover;
}

.title-banner-container h1 {
    font-size: 3rem;
}

.title-banner-container h5 {
    font-size: 1.2rem;
    padding: 0% 20vw;
}

.page-body-container {
    min-height: 60vh;
}

.custom-buttons button {
    color: #000000;
    border: #000000 1px solid;
}

.custom-buttons button:hover {
    border: #000000 1px solid;
}


@media screen and (max-width: 500px) {
    .title-banner-container h1 {
        font-size: 2rem;
    }
    .title-banner-container h5 {
        display: none;
    }
}











