.selection-container {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 5%;
}

.selection-container img {
    height: 40vh;
}

.selection-container button {
    height: 4rem;
    width: 7rem;
    background-color: #FDE2F3;
    color: #2A2F4F;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    transition: 300ms;
    margin-top: 5vh;
}

.selection-container button:hover {
    background-color: #2A2F4F;
    color: #FDE2F3;
    transform: translateY(-5px);
    transition: 300ms;
}

.select-button a {
    text-decoration: none;
    color: #2A2F4F;
}

.selection-container button:hover a {
    color: #FDE2F3;
}

@media screen and (max-width: 500px) {
    .selection-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .selection-container img {
        grid-area: 2 / 1 / span 1 / span 2;
        justify-self: center;
    }
    .selection-container button {
        margin: 0;
        margin-bottom: 1rem;
        justify-self: center;
    }
}