.previous-objectives-container {
  border-radius: 15px;
  padding: 1rem 2rem;
  height: auto;
  width: 42%;
  height: fit-content;
}

.previous-objective {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2rem;
}

@media screen and (max-width: 1200px) {
  .previous-objectives-container {
    width: 100%;
  }
}