.party-details-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    column-gap: 5rem;
    padding: 0 1rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.party-token {
    place-self: center;
}


.current-party-details {
  border-radius: 15px;
  padding: 0 4rem;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .current-party-details {
    max-width: 90vw;
  }
}

@media screen and (max-width: 600px) {
  .current-party-details {
    padding: 1rem;
  }
}