.active-party-container {
  border-radius: 15px;
  height: fit-content;
  width: fit-content;
  min-width: 25vw;
}

@media screen and (max-width: 900px) {
  .active-party-container {
    min-width: 40vw;
  }
}

@media screen and (max-width: 700px) {
  .active-party-container {
    width: 90vw;
  }
}