.events-timeline-container {
    padding-bottom: 1rem;
    margin: 0 5rem;
}

.event-tab-details { 
    padding: 0 1rem;
    text-align: left;
}

.event-tab-title { 
    padding: 0 1rem;
}

.timeline-desc {
    display: flex;
    justify-content: space-between;
}

.timeline-desc p {
    width: 60vw;
    font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
    .timeline-desc {
        flex-wrap: wrap;
        flex-flow: column-reverse;
        align-items: center;
    }
    .timeline-desc p {
        width: 100%;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 800px) {
    .events-timeline-container {
        margin: 0;
    }
    .events-timeline-container ul {
        display: contents;
    }
    .event-tab-details {
        display: none;
        padding: 0;
    }
    .event-tab-title {
        text-align: center;
        margin: 0; 
    }
    .tab-details {
        position: relative;
        height: 100%;
        width: 100%;
        display: grid;
        align-items: center;
        transition: 300ms;
        border-radius: 8px;
    }
    .tab-details:hover {
        background-color: #dbcaa7;
        transition: 300ms;
        cursor: pointer;
    }
}