.session-recap-container {
    padding: 1rem;
    border: 1px solid;
    height: fit-content;
    margin: 2rem 0;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .session-recap-container {
        padding: 1rem;
    }
}
