body {
    margin: 0;
    background-color: #F3DEBA;
}

/* Fade transition CSS */

.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.5) translateX(100);
  transition: opacity 300ms, transform 300ms;
}

.titlefade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.titlefade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 3000ms, transform 3000ms;
}
.titlefade-exit {
  opacity: 1;
}

.titlefade-exit-active {
  opacity: 0;
  transform: scale(0.5) translateX(100);;
  transition: opacity 300ms, transform 3000ms;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

/* App Wide Font CSS */

.page-title {
  font-family: 'MedievalSharp', cursive;
}

.page-subtitle {
  font-family: 'Inknut Antiqua', serif;
}

.page-body {
  font-family: 'Open Sans', sans-serif;
}

.letter-title {
  font-family: 'Comorant', serif;
}

.letter-body-regular {
  font-family: 'Delius', cursive;
}

.letter-body-nobel {
  font-family: 'Alex Brush', cursive;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

/* Reusable MUI custom button styling */
.custom-buttons button {
    color: #000000;
    border: #000000 1px solid;
}

.custom-buttons button:hover {
    border: #000000 1px solid;
}

.custom-buttons a {
  text-decoration: none;
  color: #000000;
}

.custom-buttons-light button {
    color: #FFF;
    border: #FFF 1px solid;
}

.custom-buttons-light button:hover {
    border: #FFF 1px solid;
}

.custom-buttons-light a {
  text-decoration: none;
  color: #FFF;
}

.custom-contained button {
  background-color: #FFF;
  color:#000000;
  transition: 300ms;
}

.custom-contained button:hover {
  background-color: #D8E3E7;
  transition: 300ms;
  transform:translateY(-5px);
}

.button-list {
  display: flex;
  justify-content: space-evenly;
}

/* loading wheel CSS */

.page-loading {
  position: absolute;
  left: 45vw;
  top: 45vh;
}

.modal-loading {
  position: relative;
  text-align: center;
}

/* Reusable Positioning CSS */

.space-evenly {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.space-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.space-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Reusable Background Colors */

.light-bg {
    background-color: #f8ecd8;
}

.dark-bg {
    background-color: #EBD8B2;
}

.card-light-bg {
  background-color: #F9F5F6;
}

.card-box-shadow {
  box-shadow: 5px 4px 10px -5px #6b604e;
}

.hide {
  visibility: hidden;
}

.space {
  margin: 1rem;
}

.space-top { 
  margin-top: 1rem;
}